.btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.btn button {
  background-color: rgb(32, 123, 227);
  color: white;
}

.btn button:hover {
  background-color: rgb(8, 69, 139);
  color: white;
}
